:root {
  --heading-color: #07beb8;
  --text-color: #847979;
  --primary: #1d5888;
  --secondary: #f55d3e;
  --dark: #27213c;
  --white: #e2e4e2;
}

body,
h4.lead {
  color: var(--text-color);
  font-family: trade-gothic-next, sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav.navbar {
  background: var(--dark);
}

.logo-font {
  font-family: jeanne-moderno-geometrique, sans-serif;
  font-weight: 600;
  font-style: normal;
}

nav {
  background: var(--dark);
}

a.btn {
  color: var(--text-color);
  text-decoration: none;
}

a.btn:hover {
  color: var(--white);
  background: var(--text-color);
}

button.btn {
  color: var(--secondary);
  text-decoration: none;
}

button.btn:hover {
  color: var(--white);
  background: var(--secondary);
}

h5.border-bottom {
  border-color: var(--secondary) !important;
}

footer {
  background-color: var(--dark);
  padding: 1rem;
}

footer .social > a {
  color: var(--white);
  opacity: 0.75;
}

footer .social > a:hover {
  color: var(--secondary);
  opacity: 0.9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: josefin-slab, serif;
  font-weight: 400;
  font-style: normal;
}
.bsicon {
  color: rgb(85, 60, 123);
}

.jsicon {
  color: rgb(247, 233, 30);
}

.html5icon {
  color: rgb(227, 76, 38);
}

.css3icon {
  color: rgb(38, 77, 228);
}

main > .container {
  padding: 60px 15px 0;
  margin-bottom: 5rem;
}

.checklist > li i {
  color: var(--secondary);
}

code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

.sticky-footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
}
